<div class="layout-wrapper"
     [ngClass]=
       "{'sidebar-collapse': apService.isSidebarCollapse || (apService.isOnMobileView && !apService.isSidebarOpen),
      'sidebar-open':apService.isSidebarOpen,'on-mobile-view':apService.isOnMobileView}">

  <sidebar></sidebar>
  <!--    <aside>-->
  <!--    </aside>-->
  <div class="sidebar-overlay" *ngIf="apService.isSidebarOpen && apService.isOnMobileView"
       (click)="apService.collapseSidebarMobile()"></div>
  <div class="content-wrapper">
    <header></header>
    <main> this is main</main>
    <footer>this is footer</footer>

  </div>


</div>
