:host::ng-deep {
  position: relative;

  input {
    width: 100%;
    padding-right: 30px;
  }

  i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.5);
  }
}

