<nav>
  <a href="#!" class="item sitebar-toggler" (click)="apService.toggleCollapseSidebar($event)">
    <i class="fa fa-bars"></i>
  </a>
  <div style="margin-left: auto;"></div>
  <div class="item notification">
    <a href="#!">
      <i class="far fa-bell"></i>
      <span class="badge badge-notify">5</span>
    </a>

  </div>
  <div class="item user-infor">
    <a href="#!" class="user-infor__trigger" (click)="isOpenUserInfor = !isOpenUserInfor">
      <i class="far fa-user-circle"></i>
      <span>Alexander Pierce</span>
    </a>
    <div class="user-infor__container" [ngStyle]="{'display': isOpenUserInfor? 'block':'none' }">
      <ul>
        <li>
          <a href="#!">
            <i class="far fa-user-circle"></i> PROFILE
          </a>
        </li>
        <li>
          <a href="#!">
            <i class="fas fa-cog"></i> SETTINGS
          </a>
        </li>
        <li>
          <a href="#!" (click)="logout($event)">
            <i class="fas fa-power-off"></i> LOGOUT
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
