<nav>
  <a href="#!" class="item sitebar-toggler" (click)="apService.toggleCollapseSidebar($event)">
    <i class="fa fa-bars"></i>
  </a>
  <div style="margin-left: auto;"></div>
  <div class="item notification">
    <a href="#!">
      <i class="far fa-bell"></i>
      <span class="badge badge-notify">5</span>
    </a>

  </div>
  <div class="item user-infor">
    <a href="#!">
      <i class="user-infor__icon far fa-user-circle"></i>
      <span>Alexander Pierce</span>
    </a>
  </div>
</nav>
